.user-container{
    background-color:rgb(162, 118, 77);
    padding: 10px;
    color: black;
    display: flex;
    /* display: inline-flex; */
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem;
    height: 220px;
    width: 100x;
}

#user-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}